<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Please Verify Your Email</title>
</head>
<body>
    <div style="background-color: greenyellow;">
        <div style="background-color: goldenrod;">
            <div>Please Click on This Link</div>
            <a href="<%=url%>" target="_blank">Token Verification Link</a>
            <div style="margin-top: 20px;">if Link not work then go to this link: </div>
            <p><%= url %> </p>
        </div>
    </div>
</body>
</html>