<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    <style>
        body{
            background-color: black;
            color:wheat;
        }
    </style>
</head>
</head>
<body>
    <div style="border: 2px solid gray; background: gray;color:wheat; margin-top: 30px;padding: 200px; ">
        <h1 style="text-align: center;">Page Not Found </h1>
        <h3 style="text-align: center;">Not Found</h3>  
        <h3 style="text-align: center;">Your Request Method is <%= requestMethod %></h3>
    </div>
    
</body>
</html>